/* style.css */
body {
  background-color: rgb(220, 200, 176);
  margin: 0;                  
p{
    text-align: center;
    color: black;
}
.hero-video {
  width: 95%;
  height: 40%;
  object-fit: cover;
  display: block;
  padding: 33px;
  margin: auto;
}